# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specifics
/bin/
/models/
/docs/
HaramLite Downloads/
.env
/src-tauri/target/
/font/تعليمات استخدام الخط.md
src-tauri/vc_redist.x64.exe
